{% extends "base.html" %}
{% block pageTitle %}
Search for DICOM files on Orthanc
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/search_studies" method="post" class="mt-3">
                <div class="form-group">
                    <label for="patientName">Enter Patient Name:</label>
                    <input type="text" class="form-control" id="patientName" name="patientName" placeholder="Enter Patient Name">
                </div>
                <div class="form-group">
                    <label for="patientID">Enter Patient ID:</label>
                    <input type="text" class="form-control" id="patientID" name="patientID" placeholder="Enter Patient ID">
                </div>
                <div class="form-group">
                    <label for="StudyDescription">Enter Study Description:</label>
                    <input type="text" class="form-control" id="StudyDescription" name="StudyDescription" placeholder="Enter Study Description">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <form action="/getSeries" method="post" class="mt-3">
                <!-- ajouter menu déroulant avec input recu du back-->
                <div class="form-group">
                    <label for="Study">Select a Study:</label>
                    <input type="text" list="studylist" class="form-control" id="Study" name="Study" placeholder="Search for studies" required>
                    <datalist id="studylist">
                        {% for contestant in studies %}
                            <option value="{{ contestant }}">
                        {% endfor %}
                    </datalist>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>

            </form>
                <form action="/download_dicom" method="post" class="mt-3">
                <div class="form-group">
                    <label for="Serie">Select a Serie:</label>
                    <input type="text" list="serielist" class="form-control" id="Serie" name="Serie" placeholder="Search for Serie" required>
                    <datalist id="serielist">
                        {% for contestant in series %}
                            <!-- add name-->
                            <option value="{{ contestant }}">
                        {% endfor %}
                    </datalist>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
