{% extends "base.html" %}
{% block pageTitle %}
Conversion from DICOM to NIFTI for file {{ file }}
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='/';">Return home to perform more actions on your files</button>
</div>
{% endblock %}
