{% extends "base.html" %}
{% block pageTitle %}
History of past studies
{% endblock %}

{% set active_page = 'history' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-16">
            <form action="/history" method="post" class="mb-4">
                <div class="input-group">
                    <input type="text" id="searchStudyName" name="searchStudyName" class="form-control" placeholder="Search by Study Name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <form action="/history" method="post" class="mb-4">
                <div class="input-group">
                    <input type="date" id="searchStudyDate" name="searchStudyDate" class="form-control" placeholder="Search by Study Date">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <table class="table"  >
                <thead>
                    <tr>
                        <th>Study Name</th>
                        <th>Study Date</th>
                        <th>Study Time</th>
                        <th>Performed Action</th>
                        <th>Results</th>
                    </tr>
                </thead>
                <tbody>

                    {% for i in range(size) %}
                    <tr>
                        <td>{{names[i]}}</td>
                        <td>{{dates[i]}}</td>
                        <td>{{times[i]}}</td>
                        <td>{{actions[i]}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="window.open('/content/{{results[i]}}', '_blank')">Show content json file</button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href='/download/{{results[i]}}'">Download json file</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
