{% extends "base.html" %}
{% block pageTitle %}
Uploading files from a scan
{% endblock %}

{% set active_page = 'home' %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-6">
            <form id="uploadForm" action="" method="post" class="mt-3" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="studyName">Enter Study Name:</label>
                    <input type="text" class="form-control" id="studyName" name="studyName" placeholder="Enter Study Name">
                </div>
                <div class="form-group">
                    <label for="fileInput" class="btn btn-primary btn-block">Select Zip File (only DICOM) :</label>
                    <input type="file" class="form-control-file d-none" id="fileInput" name="file" onchange="updateFileName(this)">
                    <span id="fileName" class="text-muted">No file chosen</span>
                </div>
                <button type="button" class="btn btn-primary btn-block" onclick="submitForm()">Submit</button>
                <p class="text-center">OR</p>
                <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='/DICOMweb';">Search for DICOM files on Orthanc</button>
            </form>
        </div>
        <div class="col-md-6">
            <form id="actionForm" class="mt-3">
                <div class="form-group">
                    <label for="actionSelect">Select Action on {{ file }} </label>

                    <select class="form-control" id="actionSelect">
                        <option value="visualize">Show information about my NIFTII files</option>
                        <option value="niftiConversionDTI">Convert DICOM files into Nifti files for DTI analysis</option>
                        <option value="niftiConversion">Convert DICOM files into Nifti files</option>
                        <option value="showDICOM">Display DICOM files</option>
                        <option value="showNIFTI">Display NIFTI files</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-block" onclick="performAction()">Perform Action</button>
            </form>
            <div id="loading" style="display:none;"><img src="static/loading.gif" alt="" />Loading!</div>
        </div>
    </div>
</div>

<script>
    function updateFileName(input) {
        var fileNameDisplay = document.getElementById("fileName");
        if (input.files.length > 0) {
            fileNameDisplay.innerText = input.files[0].name;
            document.getElementById("actionSelect").setAttribute("data-filename", input.files[0].name);
        } else {
            fileNameDisplay.innerText = "No file chosen";
        }
    }

function performAction() {
    // Show loading animation for every case
    $('#loading').show();

    var actionSelect = document.getElementById("actionSelect");
    var selectedAction = actionSelect.value;
    var fileName = document.getElementById("actionForm").getAttribute("data-filename");

    switch (selectedAction) {
        case "visualize":
            window.location.href = '/display_info';
            break;
        case "niftiConversion":
            window.location.href = '/nifti_conversion';
            break;
        case "niftiConversionDTI":
            window.location.href = '/nifti_conversionDTI';
            break;
        case "showDICOM":
            window.location.href = '/show_dicom';
            break;
        case "showNIFTI":
            window.location.href = '/show_nifti';
            break;
        default:
            console.error('Invalid action selected');
    }
}


    function submitForm() {
        document.getElementById("uploadForm").submit();
    }

</script>
{% endblock %}
