{%extends "base.html"%}
{%block pageTitle%}
Uploading files from a scan
{%endblock%}
{%block content%}
{% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form id="uploadForm" method="post" action="#" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput">
        <div id="fileInfo"></div>
        <button type="submit" id="submitButton">Submit zip files</button>
    </form>
    <!-- Loading animation -->
    <div id="loading" style="display: none;">
        <img src="../static/loading.gif" alt="Loading..." />
    </div>
    <!-- Display conversion message -->
    <div id="conversionMessage" style="display: none;">
        <p id="conversionSuccessMessage" style="color: green; display: none;">Conversion Successful</p>
        <p id="conversionFailedMessage" style="color: red; display: none;">Conversion Failed</p>
    </div>
    <!-- Inline JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const fileInput = document.getElementById('fileInput');
            const fileInfo = document.getElementById('fileInfo');
            const uploadForm = document.getElementById('uploadForm');
            const conversionSuccessMessage = document.getElementById('conversionSuccessMessage');
            const conversionFailedMessage = document.getElementById('conversionFailedMessage');
            const conversionMessage = document.getElementById('conversionMessage');

            uploadForm.addEventListener('submit', (event) => {
                event.preventDefault();

                // Show loading animation
                document.getElementById('loading').style.display = 'block';
                showMessage(); // Call showMessage function

                const file = fileInput.files[0];
                const formData = new FormData();
                formData.append('file', file);

                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/convert', true);

                xhr.onload = function () {
                    // Hide loading animation
                    document.getElementById('loading').style.display = 'none';

                    if (xhr.status === 200) {
                        // Display conversion success message
                        conversionSuccessMessage.style.display = 'block';
                    } else {
                        // Display conversion failed message
                        conversionFailedMessage.style.display = 'block';
                    }
                };

                xhr.send(formData);
            });
        });
    </script>
        
        <button type="button" onclick="window.location.href='/download_json'">Download json file</button>
        
        <button type="button" onclick="window.location.href='/download_study_zip'">Download Study Folder</button>
        <form action="" method="post">
            <label for="studyName">Enter Study Name:</label>
            <input type="text" id="studyName" name="studyName" placeholder="Enter Study Name">
            <button type="submit">Submit</button>
        </form>
        
{%endblock%}